<!doctype html>
<html lang="en">
<head>
    <title>Data Viz Assignment 3</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-random.v2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/script.js"></script>
<body>
<!--<img height="600" width="960" src="/static/homepage-bg.png">-->
<div class="card">
    <div class="card-body mx-auto ">
        <p class="card-text">
            Hello there, and thank you for deciding to take this survey! <br/><br/>
        In this survey, you will be shown various data visualizations and will be prompted to
        input how much bigger one value is from the other. <br/><br/>
        Once you are sure of your answer, press next. <br/><br/>
        Once you press next, you will not be able to go back.
        </p>
        <div class="start-button-div">
            <button type="button" class="btn btn-info">Click here to get started!</button>
        </div>
    </div>
</div>
</body>
</html>
